@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

:root {
    --white: #F7F9F9;
    --base: 5vw;
}

body {
    font-family: 'Sniglet', cursive;
    background-color: var(--white);
    padding: var(--base);
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    color: #222;
}

button {
    background: none;
    font-family: 'Sniglet', cursive;
    border: 3px dashed #222;
}
